# ---- Gradle ----
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ---- Logs ----
*.log

# ---- IDEs ----
.idea/
.vscode/
*.iml

# ---- Sistema ----
.DS_Store
Thumbs.db

# ---- Archivos sensibles ----
application.yml
application-*.yml
